
git+https://github.com/martineberlein/debugging-benchmark.git@stable
pygraphviz>=1.9  # in case of trouble, see https://pygraphviz.github.io/documentation/stable/install.html

fuzzingbook>=1.1
isla-solver>=0.10.10
islearn>=0.2.15
shap>=0.41
lightgbm>=3.3.2
z3-solver>=4.10.2.0
pandas>=1.4.4
numpy>=1.23.5
scikit-learn>=1.1.2
datrie>=0.8.2
toml>=0.10.2
pathos>=0.3.0
matplotlib>=3.7.1
setuptools>=68.0.0
avicenna>=0.0.2
flaky>=3.7.0
