git+https://github.com/martineberlein/debugging-benchmark.git@stable
git+https://github.com/martineberlein/islearn.git
git+https://github.com/martineberlein/Tests4Py

fuzzingbook==1.1
isla-solver>=0.10.10
shap>=0.41
lightgbm>=3.3.2
z3-solver>=4.10.2.0
pandas>=1.4.4
numpy>=1.23.5
scikit-learn>=1.1.2
datrie>=0.8.2
toml>=0.10.2
pathos>=0.3.0
matplotlib>=3.7.1
setuptools>=68.0.0
flaky>=3.7.0
returns>=0.22.0